@import "tailwindcss";
@import "@nuxt/ui";

@utility rounded-icon {
  border-radius: 25%;
}

.router-link-active {
  @apply border-blue-500;
}

/* https://github.com/tailwindlabs/tailwindcss/issues/15773 */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
